<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Contact</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />


</head>
<body>
<div th:replace="base :: navbarmenu"></div>


<h2>Cover Letter Page</h2>

<div th:replace="base :: navlinks"></div><br/><br/>


<a th:href="@{/addcoverletter}">Add Cover Letter</a>


<table border="1">
    <tr>
        <th>Intro Paragraph</th>
        <th>Paragraph One</th>
        <th>Paragraph Two</th>
        <th>Paragraph Three</th>
        <th>Outro Paragraph</th>
    </tr>

    <tr th:each="coverLetter: ${coverletters}">
        <!--General Education-->
        <td th:text="${coverLetter.paragraphIntro}"></td>
        <td th:text="${coverLetter.paragraphOne}"></td>
        <td th:text="${coverLetter.paragraphTwo}"></td>
        <td th:text="${coverLetter.paragraphThree}"></td>
        <td th:text="${coverLetter.paragraphOutro}"></td>
        <td>
            <a th:href="@{/update-coverletter/{id}(id=${coverLetter.id})}">Update</a>
            <a th:href="@{/detail-coverletter/{id}(id=${coverLetter.id})}">Details</a>
            <a th:href="@{/delete-coverletter/{id}(id=${coverLetter.id})}">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>