<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />


</head>
<body>
<div th:replace="base :: navbarmenu"></div>


<h1>Welcome to Resume.io</h1>
<!--<div th:replace="base :: navlinks"></div>-->

<br/><br/>

<div>
<h3>Create Resume/CV</h3>


<p><a th:href="@{/addsummary}">Create A Resume</a></p>

<p><a th:href="@{/addcoverletter}">Create A Cover Letter</a></p>

<p><a th:href="@{/display}">View Resume and Cover Letter</a></p>
</div>

</body>
</html>